/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

.container{
   background-color: #e4faed;
   background-image: linear-gradient(180deg, #ffffff 66%, #fdfdfd 100%);
 }

 .navbar{
    background-color: #ffffff;
    color: black;
    text-shadow: #222222e9 -1px 0px;
    font-size: medium;
    border-bottom:1px solid #2c2a2a ;
 }


   #row{
   margin-top: 50px;
 }

.col-lg-4{
    border-bottom:3px solid #2c2a2a ;
    border-right: 3px solid #2c2a2a ;
    margin: 10px -5px 10px 5px;
    padding: 5px;
 } 


.image{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

 .col-5{
   
   margin: 10px 0px 10px 0px;
   padding: 5px;

}

h1{
   font-size: 35px;
   margin-bottom: 25px;
}

.text h5{
   display: block;
}

.mb-8{
   margin: 15px 0px 15px 0px;
}